body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.title {
    color: #2C3E50;
    margin-top: 20px;
}

.intro, .education {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.intro {
    background-color: #3498db;
}

.education {
    background-color: #e74c3c;
}
