body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    border: 1px solid red;
}

.title {
    color: #2C3E50;
    margin-top: 20px;
}



.intro {
    background-color: #3498db;
}

.education {
    background-color: #e74c3c;
}
