.box {
    font-family: Arial, sans-serif;
    background-color: #00ff00;
    text-align: center;
    box-sizing: border-box; 
    margin: 20px; 
    padding: 50px; 
    border: 15px #0000ff; 
    color: pink;
}

.title {
    color: #2C3E50;
    margin-top: 20px;
}

